html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1.5rem;
}
body {
	overflow-x: hidden;
}
/* header */
header {
	height: 7vh;
	width: 100vw;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
header h1 {
	font-size: 3rem;
	color: white;
	font-family: sans-serif;
	font-family: 'Bangers', cursive;
	margin-left: 2vw;
}

#logo {
	height: 6vh;
	width: auto;
	margin-left: 1vw;
	animation: spin 2s 3;
}
.spin {
	animation: spin 2s;
}
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

.matchup-container {
	background-image: url('https://www.theclassicarchives.com/images/ebaypics/F99/baseball.jpg');
	background-size: 100%;
	background-attachment: fixed;
	transition: .2s ease-in;
}
.matchup-container:after {
	background-image: url('https://www.theclassicarchives.com/images/ebaypics/F99/baseball.jpg');
	background-size: 100%;
	background-attachment: fixed;
	opacity: 0;
}
.preload-container {
	background-image: url('https://www.theclassicarchives.com/images/ebaypics/F99/baseball.jpg');
	background-size: 100%;
	background-attachment: fixed;
}
.preload {
	height: 93vh;
}
.lineup-wrapper {
	background-color: transparent;
}
/* pitcher */
.pitcher-card {
	height: 20vh;
	width: 40vw;
	border: 3px solid white;
	background-color: rgba(128, 128, 128, 0.8);
	display: flex;
	flex-direction: row;	
	color: white;
	font-family: sans-serif;
  -webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  z-index: 1
}
.full-pitcher-cont.left {
	animation: home-pitcher-in 2s 1;
}
.full-pitcher-cont.right {
	animation: away-pitcher-in 2s 1;
}
.full-pitcher-cont.left:hover .logs-hover {
  transform: translateY(70%)
}
.full-pitcher-cont.right:hover .logs-hover {
  transform: translateY(70%)
}
.pitcher-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.pitcher-name {
	font-size: 1.5rem;
}
.pitcher-pic {
	height: 17vh;
	width: auto;
	margin: 1vh;
}
.pitcher-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30vw;
}
.pitcher-stat-main {
	display: flex;
	flex-direction: row;
}
.pitcher-stat-main h2 {
	margin-right: 1rem;
}
.analysis-scores {
	display: flex;
	flex-direction: row;
}
.analysis-scores h2 {
	margin-right: 1rem;
}
table, tr, th, td {
	border: 1px solid white;
	padding: .4rem;
	color: white;
	font-family: 'Roboto', sans-serif;
}
@keyframes home-pitcher-in {
	0%{
		transform: translateX(-150%)
	}
	50% {
		transform: translateX(-150%)
	}
	100%{
		transform: translateX(0)
	}
}
@keyframes away-pitcher-in {
	0%{
		transform: translateX(150%)
	}
	50% {
		transform: translateX(150%)
	}
	100%{
		transform: translateX(0)
	}
}
#vs {
	margin: 2vw;
}

/* pitcher-game-log */
.pitcher-logs {
	height: 10vh;
	background-color: gray;
	width: 35vw;
	display: flex;
	flex-direction: row;
	margin-left: 1vw;
	transition: all .5s ease-out;
	z-index: 0;
}
.pitcher-logs-border {
	height: 1vh;
	width: 37vw;
	background-color: black;
	border-radius: .5vh;
}
/* .pitcher-margins {
	margin: -4vh 0;
	transition: all .5 ease-out;
	z-index: 0;
} */
.game-log h3 {
	font-size: .8rem;
}
.log-date h3{
	font-size: .8rem;
}
.logs-cont {
	transition: all .5s ease-out;
  z-index: 0;
}
.full-pitcher-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .5s ease-out;
	z-index: 0;
}
/* games-bar */
#games-bar {
	height: 6vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	-webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
}
.game-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 6vh;
	width: 20vw;
	border: 1px solid black;
	border-bottom: 2px solid black;
	background-color: rgba(128, 128, 128, 0.8);
	padding: .8vh .8vw;
}
.game-container:hover {
	transition: .2s ease-in;
	transform: scale(1.1);
	background-color: maroon;
	cursor: pointer;
}
.game-container h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1rem;
}
.game-container h2 {
	font-size: .7rem;
	font-family: sans-serif;
	color: white;
	margin-bottom: .2rem;
}
.selected-game {
	transform: scale(1.1);
	background-color: maroon;
}

/* teams */
.team-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vh 0;
  margin-top: 2vw;
}
#at {
	margin-left: 35vw;
	margin-top: 4vh;
	font-size: 1.5rem;

}
.home-team {
	animation: homelogo 1s 1;
	height: 10vh;
	width: 30vw;
	background-color: purple;
	border-top-left-radius: 5.5vh;
	border-bottom-left-radius: 5.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
	border-right: none;
-webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
}
.home-team h1 {
	text-align: center;
}
.visiting-team {
	animation: awaylogo 1s 1;
	height: 10vh;
	width: 30vw;
	background-color: cornflowerblue;
	border-top-right-radius: 5.5vh;
	border-bottom-right-radius: 5.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
	border-left: none;
-webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
}
.home-logo {
	height: 9vh;
	width: auto;
	margin-left: 4vw;
}
.away-logo {
	height: 9vh;
	width: auto;
	margin-right: 4vw;
}
@keyframes homelogo {
	0%{
		transform: translateX(100%)
	}
	100%{
		transform: translateX(0)
	}
}
@keyframes awaylogo {
	0%{
		transform: translateX(-100%)
	}
	100%{
		transform: translateX(0)
	}
}

/* players */
.roster-wrapper {
	display: flex;
	flex-direction: row;
}
.player-container {
	margin-top: 3vh;
	overflow: hidden;
	padding: 3vh;
	padding-left: 0;
	z-index: 5;
	transition: all .5s ease-out;
}
.player-container:hover .collapsed {
  transform: translateY(75%)
}
.player-container:hover .bottom-collapsed {
	transform: translateY(-80%)
}
.player {
	height: 15vh;
	width: 80vw;
	background-color: rgba(128, 128, 128, 0.822);
	border: 3px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1vw;
	align-items: center;
	transition: all .5s ease-in;
	position: relative;
	z-index: 6;
	overflow: hidden;
	-webkit-box-shadow: 17px 6px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 6px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 17px 6px 20px -5px rgba(0,0,0,0.75);
}
.batting-order {
	position: absolute;
	margin-left: 96%;
}
.hidden-away-toggle {
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 10vw;
	z-index: 100;
}
.away-toggle{
	height: 100%;
	width: 10%;
	margin-left: 90%;
	opacity: 0;
	position: absolute;
}
.hidden-home-toggle {
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 10vw;
	margin-left: 90vw;
}
.home-container {
	transition: all .5s ease-in;
}
.away-container {
	transition: all .5s ease-in;
}
.home {
	border-top-left-radius: 10vh;
	border-bottom-left-radius: 8vh;
	border-right: none;
	transform: translateX(-76%);
	transition: all .5s ease-out;
}
.away {
	padding-right: 8vw;
	padding-left: .5vw;
	border-left: none;
	border-top-right-radius: 8vh;
	border-bottom-right-radius: 8vh;
	transition: all .5s ease-out;
}
.away-hover {
	transform: translateX(10%);
	transition: all .5s ease-in;
}
.away-hidden {
	transform: translateX(-90%);
	transition: all .5s ease-in;
}
.home-hidden {
	transform: translateX(90%);
	transition: all .5s ease-in;
}
.popup-top {
	transition: all .5s ease-out;
	position: relative;
	z-index: 0;
}
.pop-border {
	border-top-right-radius: .8vh;
	border-bottom-right-radius: .8vh;
	height: 1vh;
	width: 76vw;
	background-color: black;
	position: relative;
	transition: all .5 ease-out;
	z-index: 0;
	-webkit-box-shadow: 17px 8px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 8px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 17px 8px 20px -5px rgba(0,0,0,0.75);
}
.collapsed {
	transform: translateY(90%);
	transition: all .5s ease-out;
	z-index: 0;
	position: relative;
	
}

.none {
	display: none;
}
.bottom-collapsed {
	transform: translateY(-95%);
	transition: all .5s ease-out;
	z-index: 0;
}
@keyframes bottom-slide {
	0% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.below-container {
	transition: all .5s ease-out;
	position: relative;
	z-index: 1;
	padding: 1vw;
	padding-left: 0;
	padding-top: 0;
}
.pop-border.border-bottom {
	-webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
}
.game-log {
	height: 10vh;
	width: 7.5vw;
	border-right: 1px solid black;
	border-left: 1px solid black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	transition: all .5s ease-out;
	z-index: 0;
}
.out-left {
	transform: translateX(-150%);
	transition: all .5s ease-in;
  transition-delay: 2s;
}
.game-stats-container {
	height: 7vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}
.log-date {
	background-color:rgba(77, 77, 77, 0.749);
	height: 3vh;
	width: 101%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	border-bottom: 1px solid black;
}
.top-pop {
	width: 75vw;
	height: 10vh;
	background-color:rgba(128, 128, 128, 0.7);
	display: flex;
	flex-direction: row;
	transition: all .5s ease-out;
	z-index: 0;
}
.stats-below {
	height: 15vh;
	width: 75vw;
	background-color:rgba(128, 128, 128, 0.9);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all .5s ease-out;
	animation: .5s bottom-slide 1;
	z-index: 0;
	-webkit-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 17px 16px 20px -5px rgba(0,0,0,0.75);
}
.hidden {
	z-index: 0;
}
.collapsed-space {
	transition: all .5s ease-out;
	margin: -15vh 0;
}
.collapsed-space:first-of-type {
	margin-top: 2vh;
}
.player h2 {
	color: white;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
}

.lineup-text {
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.lastten {
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.lineup-text table {
	margin-right: 3vw;
}
.lineup-pic {
	height: 13vh;
	width: auto;
	margin: 0 1vw;
}
.img-name {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.name-matchup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.lineup-header {
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24vw;
}
.lineup-header h3 {
	font-size: 1.2rem;
}
.lineup-header h2 {
	margin-right: 1vw;
}
.player-scores {
	margin-right: 1vw;
	color: black;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border: 2px solid black;
	font-size: 2.5vh;
}
.match-hot {
	font-size: 4vh;
	font-weight: bold;
}
.matchup-heading {
	font-size: 1.1rem;
	text-decoration: underline;
}
.vspitcher {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.history {
	border: 1px solid white;
	padding: .5rem;
	height: 3vh;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pos-bo {
	height: 12vh;
	width: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
@keyframes home-player-in {
	0%{
		transform: translateX(-200%)
	}
	70% {
		transform: translateX(-200%)
	}
	100%{
		transform: translateX(0)
	}
}
.matchup-cum-box {
	width: 30vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/* Options menu */

#options-bar {
	animation: options-in 6s 1;
	height: 3vh;
	width: 20vw;
	border: 3px solid black;
	background-color:rgba(128, 128, 128, 0.7);
	border-top-right-radius: 3vh;
	border-bottom-right-radius: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	margin-top: 1vh;

}
.options {
	height: 3vh;
	width: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid black;
}
.options h3 {
	color: white;
	font-family: 'Roboto', sans-serif;	
	font-size: .8rem;
}
.op-end {
	width: 6vw;
	margin-right: 2vw;
	border-right: none;
}
.select:hover {
	background-color: rgba(128, 0, 0, 0.89);
}
.selected {
	background-color: rgba(128, 0, 0, 0.89);
}
@keyframes options-in {
	0%{
		transform: translateX(-200%)
	}
	50% {
		transform: translateX(-200%)
	}
	100%{
		transform: translateX(0)
	}
}


/* footer */
.empty-space {
	height: 75vh;
}
footer {
	height: 8vh;
	width: 100vw;
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 4vh;
	padding-bottom: 1vh;
}
footer h1 {
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
}
footer h2 {
	font-family: 'Roboto', sans-serif;
	font-size: .7rem;
}
#footer-left {
	height: 10vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2vw;
}
nav {
	display: flex;
	flex-direction: row;
	width: 35vw;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	padding-right: 2vw;
}